.TaskView {
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  height: 85vh;
}

@media only screen and (min-width: 840px) {
  .FocusPanel {
    min-width: 350px;
    max-width: 350px;
  }
}

@media only screen and (max-width: 840px) {
  .FocusPanel {
    width: 100%;
  }
}

.FuturePanel {
  flex: auto;
}

.FuturePanelContainer {
  position: relative;
}

.FocusViewToggleWrapper {
  position: absolute;
  z-index: 1;
  bottom: -12px;
  width: 4em;
  height: 5em;
  overflow-x: hidden;
  overflow-y: visible;
}

.FocusViewToggle {
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
  top: 0;
  left: -2em;
  width: 4em;
  height: 4em;
  color: white;
  background-color: #81B2EB;
  border-radius: 2em;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.FocusViewToggleIconFocusViewShow {
  margin: 0 0 3px 6px;
}

.FocusViewToggleIconFocusViewHide {
  margin: 0 0 3px 31px;
}

.ControlButton {
  margin-left: 0.5em;
}

.ViewSwitcher {
  position: fixed;
  cursor: pointer;
  bottom: 90px;
  right: 0.5em;
  font-size: 2em;
  color: #84BCF6;
  z-index: 2;
}
