.TaskView {
  height: calc(100vh - 260px);
  padding: 1em;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  .FocusPanel {
    min-width: 250px;
    max-width: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .FocusPanel {
    width: 100%;
  }
}

.FuturePanel {
  flex: auto;
  margin-left: 2em;
}

.FuturePanelContainer {
  position: relative;
}

.FocusViewToggleWrapper {
  position: absolute;
  z-index: 1;
  bottom: 0.5em;
  width: 4em;
  height: 5em;
  overflow-x: hidden;
  overflow-y: visible;
}

.FocusViewToggle {
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
  top: 0;
  left: -2em;
  width: 4em;
  height: 4em;
  color: white;
  background-color: #81B2EB;
  border-radius: 2em;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.FocusViewToggleIconFocusViewShow {
  margin: 0 0 3px 6px !important;
}

.FocusViewToggleIconFocusViewHide {
  margin: 0 0 3px 31px !important;
}

.ControlButton {
  margin-left: 0.5em;
}

.ViewSwitcher {
  position: fixed;
  cursor: pointer;
  bottom: 90px;
  right: 0.5em;
  font-size: 2em !important;
  color: #84BCF6;

  z-index: 2;
}
