.TaskView {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.TaskViewFocusPanel {
  width: 320px;
}

.TaskViewFuturePanel {
  flex: auto;
}

.TaskViewControl {
  display: flex;
  width: calc(100% - 6px);
  align-items: center;
}

.TaskViewControlTitle {
  margin: 1em 0.5em !important;
}

.TaskViewControlButton {
  margin-left: 0.5em;
}

.TaskViewNavButton {
  cursor: pointer;
  margin-left: 0.5em !important;
  font-size: 1.5em !important;
}

.TaskViewControlPadding {
  flex: auto;
}
