.CalendarInput {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 14px;
  height: 32px;
  padding: 6px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(202, 202, 202, 0.59);
  border-image: initial;
  border-radius: 5px;
}

.CalendarForm {
  margin-top: 24px;
}

.HelpButton {
  text-decoration: underline #83c1ff;
  color: #83c1ff;
}

.HelpButton:hover,
.HelpButton:focus {
  color: #6bb5ff;
}