.People {
  min-height: 40%;
}

.People h2 {
  font-weight: bold;
}

.AddMember {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  display: flex;
}

.AddMember svg {
  font-size: 20px;
  color: #bebebe;
}

.AddMember div {
  width: 40px;
  border-radius: 50%;
  border: 2px dashed #bebebe;
  text-align: center;
  margin-right: 1em;
}

.AddMember:hover {
  opacity: 0.7;
  cursor: pointer;
  text-decoration: underline;
}

.LeaveGroup {
  color: #FF7A7A;
  position: absolute;
  bottom: 10px;
}

.LeaveGroup p {
  display: inline;
  margin: 0 0.5em;
}

.LeaveGroup:hover {
  opacity: 0.7;
  text-decoration: underline;
  cursor: pointer;
}