@import '../../../../colors.scss';

.People {
  min-height: 40%;
}

.AddMember {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  display: flex;
}

.AddMember svg {
  font-size: 20px;
  color: #bebebe;
}

.AddMember div {
  width: 40px;
  border-radius: 50%;
  border: 2px dashed #bebebe;
  text-align: center;
  margin-right: 1em;
}

.LeaveGroup {
  color: $pink-red;
  position: absolute;
  bottom: 10px;
}

.LeaveGroup p {
  display: inline;
  margin: 0 0.5em;
}