@import '../../../../colors.scss';

.Member {
  display: flex;
  height: 56px;
  margin: 1em 0;
  line-height: 56px;
}

.Initials {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #D7B6DC;
  text-align: center;
  font-size: 22px;
  line-height: 56px;
  color: white;
}

.Member p {
  font-size: 16px;
  flex: 5;
  margin: 0 1em;
}

.MemberIcon {
  flex: 1;
  font-size: 16px;
  margin: 0 0.25em;
}