.ProgressIndicator {
  display: flex;
  align-content: center;
  margin: 1em;
}

.ProgressText {
  text-align: center;
}

.ProgressCountText {
  font-weight: bold;
}

.ProgressOtherText {
  color: #9B9B9B;
}

.ProgressBarContainer {
  flex: auto;
  margin-left: 1em;
  position: relative;
  height: 2em;
  border-radius: 1em;
  background-color: rgba(155, 155, 155, 0.19);
}

.ProgressBarIndicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 2em;
  border-radius: 1em;
  background-color: #7ED321;
}
