$middlebar-width: 280px;
$taskcreator-height: 50px;
$progressbar-height: 80px;

$sidebar-width: 80px;
$sidebar-header-height: 24px;
$sidebar-header-margin: 14px;

$taskqueue-height: 60vh;
$peoplelist-height: 40vh;
$addmember-height: 40px;
$leavegroup-height: 32px;
$links-height: 45px;
