$middlebar-width: 280px;
$taskcreator-height: 50px;
$progressbar-height: 80px;

$sidebar-width: 80px;
$sidebar-header-height: 24px;
$sidebar-header-margin: 14px;
$sidebar-personal-button-height: 15vh;
$sidebar-group-manager-height: 85vh;
$add-button-height: 80px;
$expanding-div-base-height: 75px;
$links-height: 62px;

$taskqueue-height: 60vh;
$peoplelist-height: 40vh;
$addmember-height: 40px;
$leavegroup-height: 32px;
