{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 1 version", "not dead"],
          "node": "current"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript",
  ],
  "plugins": [
    "transform-class-properties",
  ]
}
