{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "object-curly-newline": [
      "error", {
      "ObjectExpression": { "minProperties": 10, "multiline": true, "consistent": true },
      "ObjectPattern": { "minProperties": 10, "multiline": true, "consistent": true },
      "ImportDeclaration": { "minProperties": 10, "multiline": true, "consistent": true },
      "ExportDeclaration": { "minProperties": 10, "multiline": true, "consistent": true }
    }]
  }
}
