{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "object-curly-newline": ["error", { "multiline": true, "minProperties": 6 }],
    "react/default-props-match-prop-types": "off",
  }
}
