{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-underscore-dangle": "off"
  }
}
