service cloud.firestore {
  match /databases/{database}/documents {
  	function canCreate() {
    	return request.resource.data.owner == request.auth.token.email;
    }
    function canReadWriteDelete() {
    	return request.auth.token.email == resource.data.owner
    }
    match /samwise-order-manager/{userEmail} {
    	allow create: if request.auth.token.email == userEmail
      allow read, write, delete: if request.auth.token.email == userEmail
    }
  	match /samwise-tags/{tag} {
    	allow create: if canCreate()
    	allow read, write, delete: if canReadWriteDelete()
    }
  	match /samwise-tasks/{task} {
    	allow create: if canCreate()
    	allow read, write, delete: if canReadWriteDelete()
    }
  }
}
