{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "prettier",
    "prettier/react"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest"],
  "env": { "browser": true, "node": true, "jest/globals": true },
  "rules": {
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": { "minProperties": 10, "multiline": true, "consistent": true },
        "ObjectPattern": { "minProperties": 10, "multiline": true, "consistent": true },
        "ImportDeclaration": { "minProperties": 10, "multiline": true, "consistent": true },
        "ExportDeclaration": { "minProperties": 10, "multiline": true, "consistent": true }
      }
    ],
    "no-use-before-define": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "warn",
    "react/jsx-filename-extension": ["error", { "extensions": [".jsx", ".tsx"] }],
    "react/require-default-props": "off",
    "react/state-in-constructor": "off",
    "import/extensions": "off",
    "indent": "off",
    "import/no-anonymous-default-export": "error",
    "@typescript-eslint/ban-ts-comment": ["error", { "ts-expect-error": "allow-with-description" }],
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/prefer-interface": "off",
    "@typescript-eslint/explicit-function-return-type": ["error", { "allowExpressions": true }],
    "@typescript-eslint/no-angle-bracket-type-assertion": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "vars": "all", "args": "after-used", "ignoreRestSiblings": true }
    ],
    "@typescript-eslint/no-empty-function": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".mjs", ".js", ".json", ".ts", ".tsx"],
        "paths": ["frontend/src", "functions/src"]
      }
    }
  },
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
