# Lock Files (we probably need to comment out these later)
**/package-lock.json

# Cache & History
.npm
.eslintcache
.firebase/
.node_repl_history
.mypy_cache/
*.tgz

# Yarn Integrity file
.yarn-integrity

# dependencies
**/node_modules
**/bower_components

# Coverage
lib-cov
coverage
.nyc_output
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Intermediate Files
.grunt

# Compiled Output
**/build
**/dist
**/__pycache__/
**/docs/_build/
**/target/
**/develop-eggs/
**/downloads/
**/eggs/
**/.eggs/
**/lib/
**/lib64/
**/parts/
**/sdist/
**/var/
**/wheels/
**/env/
.Python
*.egg-info/
*.egg
.installed.cfg
*.py[cod]
*$py.class
*.so

# VirtualEnv
.venv
venv/
ENV/
.python-version

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# SageMath parsed files
*.sage.py

# Logs
logs
*.log
firebase-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/pip-log.txt
**/pip-delete-this-directory.txt

# IDE Configs
**/.vs
**/.vscode
*.code-workspace
**/.idea

# Misc
.DS_Store

# PyInstaller
*.manifest
*.spec

# Environment variable script
run_db_viewer

# Service account JSON
serviceAccount.json
backend/run_server.bat
start.bat
