service cloud.firestore {
  match /databases/{database}/documents {
    function canCreate() {
    	return request.resource.data.owner == request.auth.token.email;
    }
    function canReadWriteDelete() {
    	return request.auth.token.email == resource.data.owner;
    }
    function canOperateOnEmailIdDocs(userEmail) {
    	return request.auth.token.email == userEmail;
    }
    match /samwise-order-manager/{userEmail} {
    	allow create, read, write, delete: if canOperateOnEmailIdDocs(userEmail)
    }
    match /samwise-settings/{userEmail} {
    	allow create, read, write, delete: if canOperateOnEmailIdDocs(userEmail)
    }
    match /samwise-banner-message/{userEmail} {
    	allow create, read, write, delete: if canOperateOnEmailIdDocs(userEmail)
    }
  	match /samwise-tags/{tag} {
    	allow create: if canCreate()
    	allow read, write, delete: if canReadWriteDelete()
    }
  	match /samwise-tasks/{task} {
    	allow create: if canCreate()
    	allow read, write, delete: if canReadWriteDelete()
    }
  	match /samwise-subtasks/{task} {
    	allow create: if canCreate()
    	allow read, write, delete: if canReadWriteDelete()
    }
  	match /demo-comment-board/{comment} {
    	allow create: if request.auth.uid != null
    	allow read, write, delete: if request.auth.token.email == resource.data.author
    }
    match /samwise-group-pending-invites/{pendingInvite} {
      allow create: if request.auth.token.email in get(/databases/$(database)/documents/samwise-groups/$(request.resource.data.group)).data.members 
      allow read, delete: if request.auth.token.email == resource.data.invitee
    }
    match /samwise-groups/{group} {
      allow create: if canCreate()
      allow read, delete: if request.auth.token.email in get(/databases/$(database)/documents/samwise-groups/$(resource.data.group)).data.members 
    }
  }
}
