@import '../../../z-index.scss';

.Banner {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50vw;
  max-width: 400px;
  z-index: $LEVEL_20_BANNER;
  height: auto;
  color: white;
  list-style-type: none;
}

.Banner li {
  align-items: center;
  align-content: center;
  display: flex;
  background-color: #7fbdff;
  padding: 1em;
  margin: 1em;
}

.Text {
  flex: auto;
}

.ButtonWrap {
  display: block;
  text-align: center;
}

.ButtonWrap button {
  color: white;
  background: none;
  padding: 8px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
}

.ButtonWrap button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.ButtonWrap button:active {
  background: rgba(255, 255, 255, 0.4);
}
