@import '../groupview-sizes.scss';

.People {
  height: $peoplelist-height;
  margin: 0.5em 0;
}

.People button:hover {
  opacity: 0.7;
  text-decoration: underline;
  cursor: pointer;
}

.People h2 {
  font-weight: bold;
  height: $sidebar-header-height;
  margin: $sidebar-header-margin 0;
}

.AddMember {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  display: flex;
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  color: #bebebe;
  margin: 0.5em 0;
}

.AddMember svg {
  font-size: 20px;
  color: #bebebe;
}

.AddMember div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px dashed #bebebe;
  text-align: center;
  margin-right: 1em;
}

.LeaveGroup {
  color: #ff7a7a;
  position: absolute;
  border: none;
  background-color: transparent;
  height: $leavegroup-height;
  bottom: 0;
}

.LeaveGroup p {
  display: inline;
  margin: 0 0.5em;
}

.MemberList {
  max-height: calc(
    #{$peoplelist-height} - #{$sidebar-header-height} - #{$sidebar-header-margin} * 2 - #{$addmember-height} -
      #{$leavegroup-height} - 2.5em
  );
  overflow-y: auto;
}
