.TaskQueue {
  height: 60%;
}

.TaskQueue h2 {
  font-weight: bold !important;
  color: #818181 !important;
}

.EmptyTaskQueue {
  text-align: center;
  align-items: center;
  padding: 50% 0;
  border: 2px dashed #ffbdbd;
}

.EmptyTaskQueue button {
  padding: 0.5em 0;
  background-color: #64eac2;
  width: 60%;
  color: white;
  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
  border: none;
  border-radius: 5px;
  position: relative;
}

.EmptyTaskQueue button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.Container {
  overflow-y: scroll;
}
