.SettingsSection{
  margin-top:10px;
}

.SettingsSection p:first-child{
  width:200px;
  display:inline-block;
  vertical-align: top;
  font-size:16px;
  padding-top:20px;
}

.SettingsSection p:first-child+div{
  display:inline-block;
  width:calc(100% - 200px);
  vertical-align: top;
}

.ImportBtn{
  padding-top:22px;
}
.ImportBtn button{
  color:white;
  border:1px white solid;
  border-radius:5px;
  padding: 5px 10px;
  line-height:14px;
  
  margin-top:5px;
}

.SignBtn{
  background: #e93838 !important;
  border: none !important;
  border-radius: 20px !important;
  font-size: 16px !important;
  padding: 10px 20px !important;
}