.Separator {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  margin-bottom: 8px;
}

.Text {
  color: #9b9b9b;
}

.Icon {
  margin-left: 8px;
  cursor: pointer;
}

.Inverted {
  transform: scale(1, -1);
}

.Line {
  display: inline-flex;
  margin-left: 8px;
  flex: auto;
  height: 1px;
  background-color: #9b9b9b;
}
