.FocusView {
  padding: 0 8px -8px 0;
  height: calc(100% - 54px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.TaskBox {
  width: 100%;
  font-size: 12px;
  margin-bottom: 1em;
  padding: 3px;
  color: white;
}
