.FocusView {
  height: 100%;
}

.FocusTaskContainer {
  display: flex;
  flex-direction: column;
  height: calc(100% - 54px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media only screen and (max-width: 840px) {
  .FocusTaskContainer {
    height: calc(100% - 96px);
  }
}

.ControlBlock {
  display: flex;
  align-items: center;
}

.Title {
  font-size: 24px;
  margin: 1em 0.5em !important;
}

.Padding {
  flex: 1 1 auto;
}

.Droppable {
  flex: auto;
}
