.FocusView {
  height: 100%;
}

.FocusTaskContainer {
  height: calc(100% - 54px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.ControlBlock {
  display: flex;
  align-items: center;
}

.Title {
  font-size: 24px;
  margin: 1em 0.5em !important;
}

.Padding {
  flex: 1 1 auto;
}

.TaskBox {

}
