@import '../../layout-sizes.scss';
@import '../../z-index.scss';

.TaskCreator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &.TaskCreatorClosed {
    height: $task-creator-height;
  }
}

.TaskCreatorOpenedPlaceHolder {
  height: $task-creator-height;
}

/** The row with new task name input and submit button */
.TaskCreatorRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1em;

  &.FirstRow {
    width: calc(100% - 40px);
  }
}

.NewTaskComponent {
  border-top: none;
  border-left: none;
  border-right: none;
  bottom: 10px;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  background: #e3e3e3;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;

  &.NewTaskComponentOpened {
    width: unset;
    flex: 1 1 auto;
  }
}

.NewTaskComponent::placeholder {
  font-weight: lighter;
  color: #5a5a5a;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}

.NewTaskComponent:focus::placeholder {
  color: white;
}

.NewTaskWrap {
  position: relative;
  bottom: 20px;

  &.GroupTaskWrap {
    bottom: unset;
  }
}

@media only screen and (min-width: 840px) {
  .NewTaskWrap {
    width: 30vw;
  }
  .SubmitNewTask,
  .GroupSubmitNewTask.GroupSubmitNewTask {
    height: $task-creator-height;
  }
  .NewTaskModal {
    width: 520px;
  }
}

@media only screen and (max-width: 840px) {
  .NewTaskWrap {
    width: 90vw;
  }
  .SubmitNewTask .GroupSubmitNewTask {
    height: 80px;
  }
  .NewTaskModal {
    width: calc(90vw + 60px);
  }
}

.NewTaskComponent:focus {
  outline: none;
}

.CloseNewTask {
  position: fixed;
  background: black;
  opacity: 0.2;
  z-index: $LEVEL_4_TASK_CREATOR_MODAL_BACKGROUND;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.TitleText {
  flex: 1 1 auto;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  pointer-events: none;
}

.SubtitleText {
  text-align: left;
  font-size: 16px;
  pointer-events: none;
}

.DescText {
  text-align: left;
  font-size: 14px;
  pointer-events: none;
  color: #848484;
  margin-bottom: 0.5em;
}

.NewTaskActive * {
  pointer-events: auto;
  vertical-align: top;
}

.OpenNewTask .NewTaskActive {
  display: block;
}

.SubmitNewTask {
  width: 60px;
  padding-left: 10px;
  background: white;
  border: none;
  cursor: pointer;
  margin: 0;
  font-size: 48px;
}

.GroupSubmitNewTask {
  width: 60px;
  padding-left: 13px;
  height: 50px;
  background: white;
  border: none;
  cursor: pointer;
  margin: 0;
  font-size: 48px;
}

/*
 * Pop Open Modal
 */
.NewTaskModal {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: unset;
  margin: 0 auto;
  background-color: white;
  padding: 1em 2em;
  z-index: $LEVEL_5_TASK_CREATOR_MODAL;
  box-shadow: 0 8px 65px 3px #444;
}

.NewTaskModal input[type='text']::placeholder {
  color: gray;
}

.NewTaskModal .AddSubTask::before {
  content: '+';
  font-size: 20px;
}

.ExistingSubTaskRow {
  position: relative;
}

.DeleteSubTaskButton {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  top: 9px;
  left: 31px;
  cursor: pointer;
}

@mixin subtask-input {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px 20px 10px 50px;
  outline: none;
}

.ExistingSubTaskInput {
  @include subtask-input;

  width: calc(100% - 60px);
}

.ResetButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 3em;
  color: #ff1a1a;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.ResetButton:hover {
  background: rgba(0, 0, 0, 0.2);
}

.ResetButton:active {
  background: none;
}

.SubtaskInput {
  @include subtask-input;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: black;
  background: #e3e3e3;
  width: calc(100% - 40px);
  padding-left: 80px;
}

.SubtasksList {
  list-style-type: none;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: black;
  box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 0 10px 0 30px;
}

.TagPickWrap {
  display: inline-block;
}
.TagPickWrap ul {
  transform: translateX(100px);
}

.EditIcon {
  font-size: 1.3em;
  position: relative;
  top: 4px;
  left: 54px;
  color: grey;
}

.SubtasksContainer {
  text-align: center;
  width: calc(100% - 42px);
}

.PlusIcon {
  font-size: 2em;
  color: grey;
}
