.NewTaskComponent {
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 20px;
  bottom: 10px;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  background: #E3E3E3;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.NewTaskComponent::placeholder {
  font-weight: lighter;
  color: #5A5A5A;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}

.NewTaskComponent:focus::placeholder {
  color: white;
}

.NewTaskWrap {
  position: relative;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  z-index: 5;
  bottom: 20px;
  height: initial;
  max-height: 44px;
  margin-bottom: 0;
}

@media only screen and (min-width: 800px) {
  .NewTaskWrap, .GroupNewTaskWrap {
    width: 30vw;
  }
  .SubmitNewTask, .GroupSubmitNewTask.GroupSubmitNewTask {
    height: 50px;
  }
  .TaskCreator {
    height: 5vh;
  }
  .NewTaskModal {
    width: calc(30vw + 60px);
  }
}

@media only screen and (max-width: 800px) {
  .NewTaskWrap, .GroupNewTaskWrap {
    width: 90vw;
  }
  .SubmitNewTask .GroupSubmitNewTask {
    height: 80px;
  }
  .TaskCreator {
    height: auto;
  }
  .NewTaskModal {
    width: calc(90vw + 60px);
  }
}


.NewTaskComponent:focus {
  outline: none;
}


.CloseNewTask {
  position: fixed;
  background: black;
  opacity: 0.2;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/**
 * Wrapper for all options only visible when adding task
 */
.NewTaskActive {
  position: absolute;
  top: 12px;
  height: 20px;
  width: 100%;
  right: 0;
  padding-right: 40px;
  text-align: right;
  pointer-events: none;
}

.TitleText {
  position: absolute;
  top: -10px;
  height: 20px;
  width: 100%;
  text-align: left;
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 24px;
  pointer-events: none;
}

.SubtitleText {
  position: absolute;
  top: 56px;
  height: 19px;
  width: 100%;
  text-align: left;
  padding-bottom: 40px;
  font-size: 16px;
  pointer-events: none;
}

.DescText {
  position: absolute;
  top: 76px;
  height: 17px;
  width: 100%;
  text-align: left;
  padding-bottom: 40px;
  font-size: 14px;
  pointer-events: none;
  color: #848484;
}

.NewTaskActive * {
  pointer-events: auto;
  vertical-align:top;
}

.OpenNewTask .NewTaskActive {
  display: block;
}


.SubmitNewTask {
  position: absolute;
  right: 0;
  top: 7px;
  width: 42px;
  padding-left: 10px;
  background: white;
  border: none;
  cursor: pointer;
  margin: 0;
  font-size: 48px;
  z-index: 0;
}

/*
 * Pop Open Modal
 */
.NewTaskModal {
  background: white;
  position: absolute;
  top: -40px;
  right: -30px;
  padding: 90px 10px 120px 10px;
  z-index: -1;
  box-shadow: 0 8px 65px 3px #444;
  text-align: center;
}

.NewTaskModal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  top: 72px;
}

.NewTaskModal input[type="text"] {
  border-top: none;
  border-left: none;
  border-right: none;

  width: calc(100% - 60px);
  padding: 10px 20px 10px 50px;

  outline: none;

  top: 72px;
}

.NewTaskModal input[type="text"]::placeholder {
  color: gray;
}

.NewTaskModal .AddSubTask::before {
  content: '+';
  position: relative;
  font-size: 20px;
}

.NewTaskModal li {
  position: relative;
}


.NewTaskModal li button {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 10px;
  border: none;
  background: none;
  left: 40px;
  cursor: pointer;
}

.NewTaskModal i {
  position: absolute;
  font-size: 30px;
  color: gray;
  bottom: 8px;
}

.NewTaskModal li i {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-size: 15px;
}


.ResetButton {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  bottom: 10px;
  left: 23px;
  color: #FF1A1A;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.ResetButton:hover {
  background: rgba(0, 0, 0, 0.2);
}

.ResetButton:active {
  background: none;
}

.SubtaskInput {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: black;
  background: #E3E3E3;
  padding-left: 80px !important;
}

.SubtasksList {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: black;
  box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-right: 20px !important;
  margin-left: 40px !important;
}

.TagPickWrap{
  display:inline-block;
}
.TagPickWrap ul{
  transform:translateX(100px);
}

.EditIcon {
  font-size: 1.3em;
  position: relative;
  top: 9px;
  left: 64px;
  color: grey;
}

.SubtasksContainer {
  width: calc(90%);
  margin-top: 84px;
}

.PlusIcon {
  font-size: 2em;
  position: relative;
  left: 25px;
  color: grey;
}

.GroupNewTaskWrap {
  position: relative;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  z-index: 5;
  height: initial;
  max-height: 44px;
  font-family: 'Open Sans', sans-serif;
}

.GroupSubmitNewTask {
  position: absolute;
  right: 0;
  top: 7px;
  width: 42px;
  padding-left: 13px;
  height: 50px;
  background: white;
  border: none;
  cursor: pointer;
  margin: 0;
  font-size: 48px;
  z-index: 0;
}
