.Main {
  display: inline-block;
  height: 20px;
  line-height: 20px;

  text-align: center;

  position: relative;
  color: white;
  margin-left: 5px;
  transform: translateY(-30px);
  z-index: 2;
}

.Main svg {
  transform: translateY(2.5px);
}

.Label {
  background: none;
  border-radius: 10px;
  cursor: pointer;
}
.HideInput {
  display: none;
}

.DateDisplay {
  display: inline-flex;
  align-items: center;
  padding: 0 5px 0 10px;
}

.TagDisplay {
  padding: 0 2px 0 10px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  /* Any narrower and some long class tags will begin to be truncated. */
  max-width: 110px;
  display: inline-flex;
  align-items: center;
}

.TagDisplay > span,
.DateDisplay > span {
  display: flex;
}

.CenterIcon {
  display: inline;
  color: black;
}

.CenterIcon:hover,
.CenterIcon:focus {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.ResetButton {
  background: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  line-height: 21px;
  position: relative;
  bottom: 0;
}

.ResetButton:hover {
  background: rgba(0, 0, 0, 0.1);
}

.NewTaskClassPick {
  color: black;
}

/*
  OVERRIDING REACT CALENDAR
*/

.NewTaskDatePick {
  width: 400px;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 2;
  padding: 10px;
  /*border-radius:3px;*/
  background: white;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.15);
}

.NewTaskDatePickGroup {
  width: 400px;
  position: absolute;
  top: 20px;
  left: initial;
  right: 0;
  z-index: 2;
  padding: 10px;
  background: white;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1000px) {
  .NewTaskDatePick {
    left: initial;
    right: 0;
  }
}

.NewTaskDatePick > div {
  width: initial;
  border: none;
}

.NewTaskDatePick button[class~='react-calendar__tile--active'] {
  background: #50e3c2;
  color: white !important;
  font-weight: bold;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
}
.NewTaskDatePick button[class~='react-calendar__tile--active']:hover {
  background: #50e3c2;
}
.NewTaskDatePick button[class~='react-calendar__month-view__days__day'] {
  /*padding:0.5em 2em;*/
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.NewTaskDatePick div > abbr {
  color: #7f8fa4;
  font-weight: normal;
}

.NewTaskDatePick div[class='react-calendar__navigation'] {
  height: 30px;
  margin-bottom: 10px;
}

.NewTaskDatePick div[class='react-calendar__navigation'] button:first-child {
  border-top-left-radius: 2px;
}
.NewTaskDatePick div[class='react-calendar__navigation'] button:last-child {
  border-top-right-radius: 2px;
}

.NewTaskDatePick button[class~='react-calendar__month-view__days__day--weekend'] {
  color: rgba(150, 0, 0, 1);
}

.NewTaskDateSave {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: right;
}

.NewTaskDateSave button {
  padding: 3px 10px;
  background: none;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.NewTaskDateSave button:last-child {
  border: 1px black solid;
}

/*
=============================
    Repeating Tasks Boxes
=============================
*/

/*.RepeatClosed{
  background:#eee;
  color:#5a5a5a;
  padding:10px 15px;
  text-align:left;
  display:block;
  width:100%;
  border:none;
  margin-top:10px;
  cursor:pointer;
}

.PlusIcon{
  margin-right:10px;
  vertical-align:top;
  transform:translateY(0) !important;
}*/

.RepeatOpened {
  margin: 0;
  /*background:#9b9b9b;*/
  color: #5a5a5a;
  text-align: left;
  padding: 0 15px;
  font-weight: bold;
}

.RepeatOpened p {
  margin-top: 0;
}

.RepeatPickDayWrap label {
  padding: 0;
  border: 1.5px #5a5a5a solid;
  margin-right: 2px;
  position: relative;
  top: 3px;
  width: 30px;
  height: 30px;
  line-height: 27px;
  color: #5a5a5a;
  text-align: center;
  display: inline-block;

  background: none;
  cursor: pointer;
  border-radius: 3px;
}

.RepeatPickDayWrap input {
  display: none;
}

.RepeatPickEndWrap {
  margin: 10px 0;
}
.RepeatPickEndWrap ul {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
}
.RepeatPickEndWrap li {
  margin-top: 10px;
}

.RepeatPickEndWrap input[type='number'] {
  width: 40px;
}

.RepeatPickEndWrap input[type='radio'] {
  margin-right: 5px;
}

.RepeatSpecialEndDate {
  padding: 0;
  text-align: left;
}

.RepeatSpecialEndDate button {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
  background: none;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  border: 1.2px #5a5a5a solid;
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
}
