.Main {
  display: inline-flex;
  height: 20px;
  line-height: 20px !important;
  text-align: center !important;
  position: relative;
  color: white !important;
  margin-left: 5px;
  transform: translateY(-30px);
  z-index: 2;
}

.Main,
.Main > span,
.Main > span > span {
  display: inline-flex;
  align-items: center;
}

.TestBorder {
  border-color: transparent !important;
  color: transparent !important;
  background-color: transparent !important;
  padding: 0px;
}

.TagButton {
  background: rgb(150, 150, 150) !important;
  border-color: transparent !important;
  color: #ffffff !important;
  // padding: 0px 2px 0px 10px !important;
  font: 14px 'Open Sans', sans-serif !important;
  width: 96.84px !important;
  height: 20px !important;
  padding: 0px !important;
}

.DateButton {
  background: rgb(150, 150, 150) !important;
  border-color: transparent !important;
  color: #ffffff !important;
  // padding: 0px 2px 0px 10px !important;
  font: 14px 'Open Sans', sans-serif !important;
  width: 94.03px !important;
  height: 20px !important;
  padding: 0px !important;
}

.Label {
  background: none;
  border-radius: 10px;
  cursor: pointer;
}
.HideInput {
  display: none;
}

.DateDisplay {
  display: inline-flex;
  align-items: center;
  //padding: 0 5px 0 10px;
  height: 15px;
}

.TagDisplay {
  padding: 0 2px 0px 10px !important;
  height: 15px;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;

  /* Any narrower and some long class tags will begin to be truncated. */
  max-width: 110px;
  display: inline-flex;
  align-items: center;
}

.TagDisplay > span,
.DateDisplay > span {
  display: flex;
}

.ImageSize {
  width: 1.15em;
  height: 1.15em;
}

.CenterIcon {
  display: inline;
  color: black;
}

.CenterIcon:hover,
.CenterIcon:focus {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.ResetButton {
  background: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  line-height: 21px;
  position: relative;
  bottom: 0;
}

.ResetButton:hover {
  background: rgba(0, 0, 0, 0.1);
}

.NewTaskClassPick {
  color: black;
}

/*
  OVERRIDING REACT CALENDAR
*/

.NewTaskDatePick {
  width: 400px;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 2;
  padding: 10px;
  background: white;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.15);
}

.NewTaskDatePickGroup {
  width: 400px;
  position: absolute;
  top: 20px;
  left: initial;
  right: 0;
  z-index: 2;
  padding: 10px;
  background: white;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1000px) {
  .NewTaskDatePick {
    left: initial;
    right: 0;
  }
}

.NewTaskDatePick > div {
  width: initial;
  border: none;
}

.NewTaskDatePick button[class~='react-calendar__tile--active'] {
  background: #50e3c2;
  color: white !important;
  font-weight: bold;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
}
.NewTaskDatePick button[class~='react-calendar__tile--active']:hover {
  background: #50e3c2;
}
.NewTaskDatePick button[class~='react-calendar__month-view__days__day'] {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.NewTaskDatePick div > abbr {
  color: #7f8fa4;
  font-weight: normal;
}

.NewTaskDatePick div[class='react-calendar__navigation'] {
  height: 30px;
  margin-bottom: 10px;
}

.NewTaskDatePick div[class='react-calendar__navigation'] button:first-child {
  border-top-left-radius: 2px;
}
.NewTaskDatePick div[class='react-calendar__navigation'] button:last-child {
  border-top-right-radius: 2px;
}

.NewTaskDatePick button[class~='react-calendar__month-view__days__day--weekend'] {
  color: rgba(150, 0, 0, 1);
}

.NewTaskDateSave {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: right;
}

.NewTaskDateSave button {
  padding: 3px 10px;
  background: none;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.NewTaskDateSave button:last-child {
  border: 1px black solid;
}

/*
=============================
    Repeating Tasks Boxes
=============================
*/

.RepeatOpened {
  margin: 0;
  color: #5a5a5a;
  text-align: left;
  padding: 0 15px;
  font-weight: bold;
}

.RepeatOpened p {
  margin-top: 0;
}

.RepeatPickDayWrap label {
  padding: 0;
  border: 1.5px #5a5a5a solid;
  margin-right: 2px;
  position: relative;
  top: 3px;
  width: 30px;
  height: 30px;
  line-height: 27px;
  color: #5a5a5a;
  text-align: center;
  display: inline-block;
  background: none;
  cursor: pointer;
  border-radius: 3px;
}

.RepeatPickDayWrap input {
  display: none;
}

.RepeatPickEndWrap {
  margin: 10px 0;
}
.RepeatPickEndWrap ul {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
}
.RepeatPickEndWrap li {
  margin-top: 10px;
}

.RepeatPickEndWrap input[type='number'] {
  width: 40px;
}

.RepeatPickEndWrap input[type='radio'] {
  margin-right: 5px;
}

.RepeatSpecialEndDate {
  padding: 0;
  text-align: left;
}

.RepeatSpecialEndDate button {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
  background: none;
  border-radius: 3px;
  cursor: pointer;
  border: 1.2px #5a5a5a solid;
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
}
