.ToastUndo {
  padding-left: 20px;
}

.UndoButton {
  background: none;
  float: right;
  color: #70a7ff;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.UndoButton:hover {
  color: white;
}

.UndoButton:active {
  color: #70a7ff;
}
