input.SearchInput {
  display: block;
  width: 90%;
  font-size: 14px;
  color: black;
  height: 24px;
  padding: 4px 4px;
  margin: auto;
  margin-bottom: 8px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
}

.MemberSearchBox {
  position: absolute;
  top: 21px;
  right: 0;
  min-width: 164px;
  margin: 0;
  list-style: none;
  background: darkgray;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.15);
}

.MemberSearchResults {
  max-height: 400px;
  overflow-y: auto;
}

.MemberCheckbox {
  cursor: pointer;
  color: black;
  text-align: left;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
  transition: opacity 0.1s ease-in-out;
}

.MemberCheckbox:hover {
  opacity: 1;
}

.MemberCheckbox input {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border: none;
  background-color: #eee;
}

.MemberCheckbox label {
  display: inline-block;
  padding: 4px 0;
  padding-left: 4px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.MemberCheckbox span {
  padding-left: 4px;
}

.FormOptions {
  display: flex;
  justify-content: space-between;
}

.FormButton {
  background: none;
  border: none;
  padding: 6px 8px;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}

.FormButton:hover {
  background: rgba(255, 255, 255, 0.8);
}
