@import '../../z-index.scss';

.PositionedWrapper {
  position: relative;
}

.AddGroupTags {
  position: absolute;
  top: 0;
  left: 15px;
  background-color: white;
  width: 100px;
  border-radius: 5px;
  z-index: $LEVEL_1_ADD_GROUP_COMPONENT;
}

.ClassItem {
  background: none;
  border-radius: 0 !important;
  display: flex;
  font-size: 100%;
  height: 34px !important;
  margin: 0 !important;
  padding-left: 10px;
  width: 100% !important;
}

.ClassItem:first-of-type {
  padding-top: 0.5em;
}

.ClassItem:last-of-type {
  padding-bottom: 0.5em;
}

.ClassItem:hover {
  background-color: #8080801a;
  text-decoration: underline;
  cursor: pointer;
}

.Color {
  width: 9px;
  height: 9px;
  line-height: 20px;
  border-radius: 50%;
  background-color: skyblue;
  position: relative;
  margin-right: 8px;
  top: 5px;
}

div.ClassItem > p {
  text-align: left;
  margin-left: 10px;
  font-size: 10px;
}
