@import '../GroupView/groupview-sizes.scss';

.SideBar {
  display: flex;
  flex-direction: column;
  width: $sidebar-width;
  align-items: center;
  background-color: #ebebeb;
}

.PersonalViewButtonIcon,
.AddGroup svg {
  width: 50px;
  height: 50px;
}

.PersonalViewButton,
.GroupManager button {
  height: 4rem;
  width: 4rem;
  opacity: 0.7;
  border-radius: 15px;
  margin: 0.5rem;
  border: none;
}

.SideBar .AddGroup {
  margin-bottom: 0;
  border: 2px dashed #bebebe;
  background-color: transparent;
}

.AddGroup svg {
  color: #bebebe;
}

.ViewSwitchButtonDiv {
  height: $sidebar-personal-button-height;
}

.SideBar .PersonalViewButton {
  background-color: transparent;
  margin-top: 50px;
  margin-bottom: 200%;
  margin-left: 0;
}

.PlusIcon {
  font-size: 3em;
}

.PersonalViewButton:hover,
.GroupManager button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.GroupManager {
  display: flex;
  flex-direction: column;
  height: $sidebar-group-manager-height;
}

.GroupManager p {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  margin: 0;
  color: #7a7a7a;
  text-align: center;
}

.ExpandToFill {
  flex-grow: 1;
}

.GroupIcons {
  overflow: auto;
  max-height: calc(#{$sidebar-group-manager-height} - 20px - 50px);
}

.Links {
  height: 50px;
}
