.NewTaskComponent {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;

  width:100%;
  padding: 10px 20px;
  text-align:left;

  font-size:20px;
  font-family: 'Open Sans', sans-serif;
  transition: border 0.3s ease;
}

.NewTaskComponent::placeholder{
  font-weight:lighter;
  color:gray;
  text-align:center;
}

.NewTaskComponent:focus::placeholder{
  color:white;
}

.NewTaskWrap {
  width:30vw;
  text-align:center;
  position:relative;
  left:50%;
  height:initial;
  transform:translateX(-50%);
  z-index:5;
  
  max-height:44px;
  margin-bottom:20px;
}

.NewTaskComponent:focus{
  border-bottom: 2px solid black;
  outline:none;
}




.CloseNewTask{
  position:fixed;
  background:black;
  opacity:0.4;
  z-index:4;
  top:0;left:0;
  width:100vw;
  height:100vh;
  
  display:none;
}


/*
Wrapper for all options only visible when adding task
*/
.NewTaskActive{
  position:absolute;
  top:12px;
  height:20px;
  width:100%;
  right:0;
  padding-right:40px;
  
  text-align:right;
  display:none;
  pointer-events:none;
}
.NewTaskActive *{
  pointer-events:auto;
}

.OpenNewTask .NewTaskActive{
  display:block;
}




.SubmitNewTask{
  position:absolute;
  right:0;
  top:-3px;
  width:20px;
  height:100%;
  background:white;
  border:none;
  cursor:pointer;
  padding:0;margin:0;
  font-size:25px;
  z-index:0;
}




/*
  Pop Open Modal
*/
.NewTaskModal{
  background:white;
  position:absolute;
  top:-30px;right:-30px;
  width:calc(30vw + 60px);
  padding:70px 0 10px 0;
  z-index:-1;
  box-shadow: 0px 2px 25px 5px #444;
  text-align:center;
}

.NewTaskModal ul{
  list-style-type:none;
  margin:0;padding:0;
}

.NewTaskModal input[type="text"]{
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom: 1px gray solid;
  
  width:calc(100% - 60px);
  padding: 10px 20px 10px 50px;
  
  outline:none;
}

.NewTaskModal input[type="text"]::placeholder{
  color:gray;
}

.NewTaskModal .AddSubTask::before{
  content:'+';
  position:relative;
  font-size:20px;
}

.NewTaskModal li{
  position:relative;
}


.NewTaskModal li button{
  position:absolute;
  width:20px;
  height:20px;
  bottom:10px;
  border:none;
  background:none;
  left:40px;
  cursor:pointer;
}
.NewTaskModal li i{
  bottom:0;
  left:0;
  font-size:15px;
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  margin:0;padding:0;
}

.NewTaskModal i{
  position:absolute;
  font-size:30px;
  color:gray;
  bottom:8px;
}




.ResetButton{
  position:absolute;
  background:none;
  border:none;
  cursor:pointer;
  bottom:-30px;
  right:10px;
  color:white;
}
.ResetButton:hover{
  background:rgba(0,0,0,0.2);
}
.ResetButton:active{
  background:none;
}



.Toast div{
  background:#676767;
  border-radius:5px;
}