.ProgressTracker {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
}

.MobileView {
  flex-direction: row;
  margin-top: 16px;
  transform:translateY(-50px);
}

.DesktopView {
  margin-right: 16px;
  margin-top: 68px;
  margin-bottom: -82px;
  width: 70px;
  flex-direction: column-reverse;
  transform:translate(-10px, -35px);
}
