@import '../../../colors.scss';

.ProgressIndicator {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.ProgressText {
  text-align: center;
}

.ProgressCountText {
  font-weight: bold;
}

.ProgressOtherText {
  color: $warm-grey-two;
}

.ProgressBarContainer {
  flex: auto;
  position: relative;
  border-radius: 1em;
  background-color: rgba(155, 155, 155, 0.19);
  overflow:hidden;
}

.ProgressBarIndicator {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 1em;
  background-color: #7ED321;

  transition: all 0.7s ease-in-out;
}
