/*
 * Class Picker
 */
.NewTaskClass {
  position: absolute;
  top: 21px;
  right: 90px;
  min-width: 130px;
  margin: 0;
  padding: 3px 5px 0 5px;
  list-style: none;
  background: white;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.15);
}

.NewTaskClass li {
  position: relative;

  text-align: left;

  padding: 1px 7px;
  margin-bottom: 3px;
  border: none;
  border-radius: 15px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 130px;

  text-align: center;

  color: white;
  background: var(--custom-color);

  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

.NewTaskClass li:last-child {
  background: white;
  border: 2px black solid;
  color: black;
}

.NewTaskClass li:hover {
  opacity: 0.8;
}
.NewTaskClass li:active {
  opacity: 1;
}

.NewTaskClass li input[type='checkbox'] {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.NewTaskClass input[type='checkbox']:checked + label + ul {
  display: block;
}
