{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    // too noisy for props declaration
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "minProperties": 6,
          "multiline": true,
          "consistent": true
        },
        "ObjectPattern": {
          "minProperties": 6,
          "multiline": true,
          "consistent": true
        },
        "ImportDeclaration": {
          "minProperties": 6,
          "multiline": true,
          "consistent": true
        },
        "ExportDeclaration": {
          "minProperties": 6,
          "multiline": true,
          "consistent": true
        }
      }
    ]
  }
}
