.DaysUntilDeadline {
  width: 120px;
  margin: 0 20px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
}

.GrayBoldText {
  font-size: 16px;
  font-weight: 700;
  color: #9b9b9b;
}

.Deadline {
  display: inline-block;
  height: 100%;
  font-size: 18px;
  margin: 0 20px;
  width: 80px;
}

.DeadlineIcon {
  margin: 5px auto;
  height: 30px;
  display: block;
}

.DeadlineDate {
  margin: 0;
  text-align: center;
}

.GroupProgress {
  width: 95%;
  display: flex;
}

.NoTasks {
  display: inline-block;
  margin: auto;
}

.NoTasksText {
  display: inline-block;
  margin: 0;
  font-size: 16px;
}

.NoTasksText > p {
  margin: 5px 0;
}

.CreateTaskTextBottom {
  font-weight: 700;
}

.PeakingBear {
  display: inline-block;
  height: 100%;
  margin: 0 60px;
}

.ProgressBubble {
  /* doing it this way to make transitions easier later */
  transition: all 2s ease;
  background-image: linear-gradient(to right, #f4f4f4 50%, #81ebcb 50%);
  background-position: 0;
  background-size: 200%;
  display: inline-block;
  height: 20px;
  border-radius: 10px;
  flex: 1 1 100%;
  margin: auto 0;
  margin-right: 10px;
  text-align: center;
  vertical-align: auto;
}

.ProgressDiv {
  flex: 1 1 100%;
  display: flex;
}

.ProgressDiv > .ProgressBubble:last-child {
  margin-right: 0;
}

.CompleteBubble {
  background-position: right bottom;
}

.IncompleteBubble {
  background-position: left bottom;
}
