@import '../groupview-sizes.scss';

$group-task-width: 260px;
$group-task-margin: 14px;

.GroupTask {
  font-size: 12px;
  color: white;
  margin-left: $group-task-margin;
  width: $group-task-width;
  min-height: $group-task-row-content-height;
}

.TaskQueueGroupTask {
  font-size: 12px;
  color: white;
  margin-left: 14px;
}

.GroupTaskContainer {
  height: $group-task-row-content-height;
  min-width: calc(#{$group-task-width + $group-task-margin});
  overflow-x: hidden;
  padding: 0;
  overflow-y: scroll;
}
