.DaysUntilDeadline {
  width: 150px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
}

.BeforeDeadlineText {
  font-size: 16px;
  font-weight: 700;
  color: #9b9b9b;
}

.Deadline {
  display: inline-block;
  height: 100%;
}

.DeadlineIcon {
  height: 100%;
}
