@import '../groupview-sizes.scss';

.GroupTaskCreator {
  height: $taskcreator-height;
}

.RightView {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$taskcreator-height} - #{$progressbar-height});
  width: calc(100vw - #{$sidebar-width} - #{$middlebar-width});
  padding: 20px;
  clear: both;
}

.EditGroupNameIcon:hover {
  cursor: pointer;
  opacity: 0.8;
}

.GroupTaskRowContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.RightView h2 {
  display: inline-block;
  color: #808080;
  font-size: 26px;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  margin-right: 0.5em;
}

.GroupTaskProgress {
  height: $progressbar-height;
}
