.GroupTaskCreator {
  height: 20vh;
}

.RightView {
  display: flex;
  flex-direction: column;
  height: 480px;
  padding: 20px;
  clear: both;
}

.EditGroupNameIcon :hover {
  cursor: pointer;
}

.GroupTaskRowContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

h2 {
  display: inline-block;
  color: #808080;
  font-size: 26px;
  font-family: DM Sans;
  font-weight: bold;
  margin-right: 0.5em;
}
