@import '../groupview-sizes.scss';

$top-bottom-margin: 20px;

.RightView {
  padding: $top-bottom-margin;
  clear: both;
}

.GroupTaskCreator {
  height: $taskcreator-height;
}

.RightViewMain {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$taskcreator-height} - #{$progressbar-height} - #{$top-bottom-margin} * 2);
  width: calc(100vw - #{$sidebar-width} - #{$middlebar-width});
  padding: 20px;
  clear: both;

  .TitleRow {
    position: relative;
  }
}

.EditGroupNameIcon:hover,
.EditGroupDeadlineIcon:hover {
  cursor: pointer;
  opacity: 0.8;
}

.GroupTaskRowContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.Title {
  display: inline-block;
  color: #808080;
  font-size: 26px;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  margin-right: 0.5em;
}

.DeadlineText {
  color: #808080;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 0 0.5em;
}

.DeadlineCalendarPicker {
  position: absolute;
  width: 300px;
  top: 50px;
  left: 150px;
}

.GroupTaskProgress {
  height: $progressbar-height;
}
