@import '../../../colors.scss';

.NDaysView {
  position: relative;
  margin: -1em 4px 0 4px;
  background-color: $card-grey;
  height: 100%;
}

.OtherViews {
  position: relative;
  background-color: $card-grey;
  height: 100%;
}

.NDaysView::-webkit-scrollbar,
.OtherViews::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.Today {
  background-color: white;
  box-shadow: 0 5px 12px 0 rgba(164, 164, 164, 0.3);
}

.DateInfo {
  margin: 1em;
  color: #3d3d3d;
  opacity: 0.57;
}

.DateInfoDay {
  font-weight: normal;
}

.DateNum {
  font-weight: bold;
}

.MoreTasksBar {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  background-color: #fff;
  opacity: 1;
  color: $very-dark-grey;
  border: 0;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 20px;
  font-size: 1em;
}

.MoreTasksBar:hover,
.MoreTasksBar:focus {
  background-color: #fbfafa;
}

.FloatingViewPrevPadding {
  margin: 1em;
}

.FloatingView {
  position: absolute;
  z-index: 6;
  left: 0;
  top: 0;
  right: 0;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 0 5px 12px 0 rgba(164, 164, 164, 0.7);
}

.FloatingBackgroundBlocker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.05);
}

.FloatingView::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.FloatingView::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: unset;
  background-color: unset;
}
