/*
 * --------------------------------------------------------------------------------
 * Higher Level Classes
 * --------------------------------------------------------------------------------
 */

.FutureViewControl {
  position: relative;
  display: flex;
  width: calc(100% - 6px);
  align-items: center;
}

/*
 * --------------------------------------------------------------------------------
 * Helper Component Classes
 * --------------------------------------------------------------------------------
 */

.Title {
  font-size: 24px;
  margin: 1em 0.5em;
}

.NavButton {
  cursor: pointer;
  margin-left: 0.5em;
  font-size: 1.5em;
}

.NavButtonNDays {
  position: absolute;
  z-index: 1;
  top: 250px;
}

.ControlPadding {
  flex: auto;
}

/*
 * --------------------------------------------------------------------------------
 * ContainerTypeSwitcher
 * --------------------------------------------------------------------------------
 */

.ContainerTypeSwitcher {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 98px;
  height: 34px;
  color: #5A5A5A;
  border-radius: 2px;
  border: solid 1px #5A5A5A;
}

.ContainerTypeSwitcherButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: solid 1px #5A5A5A;
}

.ContainerTypeSwitcherButtonText {
  font-size: 12px;
  margin: 0 auto;
}

.ContainerTypeSwitcherActiveButton {
  color: white;
  background-color: #5A5A5A;
}
