.Editor {
  display: none;
  position: fixed;
  width: 300px;
  z-index: 8;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.3);
}

.BackgroundBlocker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 7;
  background-color: rgba(90, 90, 90, 0.25);
}
