.CheckBox {
  display: inline-block;
  position: relative;
  height: 16px;
  width: 16px;
  min-width: 16px;
  cursor: pointer;
  border: 2px solid white;
  user-select: none;
}

.InvertedCheckBox {
  border-color: #333333;
}

.CheckBox input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

.CheckBoxCheckMark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: transparent;
}

.CheckBox:hover input ~ .CheckBoxCheckMark {
  background-color: rgba(255, 255, 255, 0.15);
}

.CheckBox input:checked ~ .CheckBoxCheckMark {
  background-color: rgba(255, 255, 255, 0.15);
}

.CheckBoxCheckMark:after {
  position: absolute;
  content: "";
}

.CheckBox .CheckBoxCheckMark:after {
  left: 4px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.InvertedCheckBox .CheckBoxCheckMark:after {
  border-color: #333333;
}
