.LoadingTextWrapper {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.LoadingText {
  margin: auto;
  text-align: center;
  font-size: 3em;
  font-weight: 300;
}
