.Indicator {
  position: fixed;
  // TODO: move all z-index numbers into a css constant file to avoid increasingly giant numbers like this.
  z-index: 1000;
  background: #f44336;
  padding: 5px;
  color: white;
  top: 0;
  left: 0;
}
