.OverdueAlertRelative {
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: #D0021B;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  font-size: 1em;

  /* Proposed Experimental Change */
  top: -0.3em;
  right: -0.3em;
  /*border-bottom-left-radius: 1em;*/
}

.OverdueAlertAbsolute {
  position: absolute;
  z-index: 1;
  width: 1em;
  height: 1em;
  background-color: #D0021B;
  line-height: 1em;
  text-align: center;
  font-weight: bold;
  font-size: 0.5em;
}
