.OverdueAlertInTaskCard {
  position: relative;
  top: -5px;
  left: calc(100% - 20px);
  width: 2em;
  height: 2em;
  background-color: #d0021b;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.OverdueAlertInFutureView {
  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  height: 1em;
  background-color: #d0021b;
  line-height: 1em;
  text-align: center;
  font-weight: bold;
  font-size: 0.5em;
}
