.SquareButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: solid 1px #5A5A5A;
}

.SquareButtonIconButton {
  margin-left: 1em;
  margin-right: 1em;
  width: 34px;
  height: 34px;
  border-radius: 2px;
}

.SquareButtonTextButton {
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: auto;
  height: 34px;
  padding: 0.5em 0;
  border-radius: 2px;
}

.SquareButtonTextButton  span {
  margin: 0 1em !important;
}

.SquareButton .Icon .active {
  color: white;
  background-color: #5A5A5A;
}

.SquareButtonText {
  font-size: 12px;
  margin: 0 auto !important;
}
