$very-dark-grey: #333333;
$typeface-grey: #5a5a5a;
$warm-grey: #7b7b7b;
$brick: #b92424;
$scarlet: #d0021b;
$warm-grey-two: #9b9b9b;
$greyish-brown-two: #4a4a4a;
$peachy-pink: #ff8a8a;
$terracota: #cd844b;
$dark-rose: #bb5769;
$dusty-orange: #ea5e3d;
$goldfish: #fcab10;
$sage: #83ba9a;
$emerald: #00a346;
$teal: #009c8a;
$aqua: #00c0d7;
$brown-grey: #a7a7a7;
$darker-brown-grey: #7a7a7a;
$lilac: #ab8bb6;
$grape: #740794;
$blue-grey: #5a7e8c;
$cobalt: #20639b;
$blue: #289de9;
$blueberry: #4742b7;
$card-grey: #f7f7f7;
$pinkish-grey: #cfcfcf;
$greyish-brown-three: #3d3d3d;
$sky-blue: #8CC3FF;
$pink-red: #FF7A7A;
