$LEVEL_1_NAV_BUTTON_NDAYS: 1;

$LEVEL_3_COLOR_PICKER: 3;

$LEVEL_4_TASK_CREATOR_MODAL_BACKGROUND: 4;
$LEVEL_4_TASK_EDITOR_TAG_EDITOR: 4;

$LEVEL_5_TASK_CREATOR_MODAL: 5;
$LEVEL_5_FUTURE_VIEW_FLOATING_VIEW_BACKGROUND: 5;

$LEVEL_6_FUTURE_VIEW_FLOATING_VIEW: 6;
$LEVEL_6_PICKER_IN_TASK_CREATOR: 6;

$LEVEL_7_FLOATING_TASK_EDITOR_BACKGROUND: 7;

$LEVEL_8_FLOATING_TASK_EDITOR: 8;

$LEVEL_9_MODAL_COMPONENT: 9;

$LEVEL_10_SETTINGS_MODAL: 10;

$LEVEL_11_ONBOARDING_HERO_MODAL: 11;

$LEVEL_20_BANNER: 20;

$LEVEL_TOP_MODE_INDICATOR: 1000;
