/*
 * --------------------------------------------------------------------------------
 * Part 1: Parent Component
 * --------------------------------------------------------------------------------
 */

.TaskEditor {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  color: white;
  font-size: 12px;
}

/*
 * --------------------------------------------------------------------------------
 * Part 2: Common Components for Both Children Components
 * --------------------------------------------------------------------------------
 */

.TaskEditorHeader {
  font-size: 1em;
}

.TaskEditorFlexibleContainer {
  position: relative;
  display: flex;
  margin: 16px 8px;
  align-content: center;
  align-items: center;
}

.TaskEditorFlexiblePadding {
  flex: 1 1 auto;
}

.TaskEditorGrabberIcon {
  width: 20px;
  height: 20px;
  margin-right: -10px;
}

input.TaskEditorFlexibleInput {
  flex: 1 1 auto;
  margin-left: 0.5em;
  padding: 0.5em 0;
  border-radius: 0;
  background-color: transparent;
  line-height: 1em;
  border: none;
  color: white;
  border-bottom: 1px solid transparent;
}

input.TaskEditorFlexibleInput:focus-within {
  border-bottom-color: white;
}

input.TaskEditorFlexibleInput::placeholder,
input.TaskEditorFlexibleInput:focus-within::placeholder {
  color: white;
}

.TaskEditorCheckBox {
  margin-left: 8px;
  margin-right: 0;
}

.TaskEditorSubtaskCheckBox label {
  min-width: 16px;
}

.TaskEditorIcon {
  width: 16px;
  height: 16px;
  flex: none;
  cursor: pointer;
  overflow: hidden;
}

.TaskEditorIcon:hover,
.TaskEditorIcon:focus,
.TaskEditorGrabberIcon:focus {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 2px;
}

.TaskEditorIconLeftPad {
  margin-left: 4px;
}

/*
 * --------------------------------------------------------------------------------
 * Part 3: Components for Main Task Editor
 * --------------------------------------------------------------------------------
 */

.TaskEditorIconButton {
  cursor: pointer;
  margin-left: 1em;
  height: unset;
}

.TaskEditorTag {
  margin-left: 0.5em;
  font-size: 1em;
  padding: 5px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border-color: transparent;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TaskEditorTag:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.TaskEditorTagEditor {
  position: absolute;
  right: 0;
  left: 8px;
  top: 4px;
  z-index: 4;
  color: #333333;
  background: white;
}

.TaskEditorCalendarTop {
  position: absolute;
  right: -8px;
  bottom: 30px;
  z-index: 4;
}

.TaskEditorCalendarBottom {
  position: absolute;
  right: -8px;
  z-index: 4;
  top: 36px;
}

.TaskEditorCalendar div > abbr {
  color: black;
}

/*
 * --------------------------------------------------------------------------------
 * Part 4: Components for Sub-Task Editor
 * --------------------------------------------------------------------------------
 */

.TaskEditorSubTasksIndentedContainer {
  margin-left: 2em;
}

.SubtaskHide {
  max-height: 50px;
  transition: max-height 0.2s ease-in-out;
  overflow: hidden;
  margin: -15px 0 20px 0;
  padding: 0;
}

/*
 * --------------------------------------------------------------------------------
 * Part 5: Components for save buttons
 * --------------------------------------------------------------------------------
 */

.SaveButtonRow {
  display: flex;
  padding: 0.5em;
}

.SaveButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex: 0;
  width: auto;
  height: 2em;
  border-radius: 2px;
  border: solid 2px white;
  background-color: rgba(255, 255, 255, 0.15);
}

.SaveButtonText {
  font-size: 12px;
  color: white;
  margin: 0 0.5em;
}

