.Header {
  background: rgba(255, 255, 255, 0.6);
  padding: 9px 9px 6px 9px;
  margin: -6px;
  height: 100%;
}

.Icon {
  fill: #ffffff;
  margin-right: 4px;
  margin-bottom: -5px;
  height: 16px;
  width: 16px;
}
