/*
 * --------------------------------------------------------------------------------
 * Part 1: Parent Component
 * --------------------------------------------------------------------------------
 */

.TaskEditor {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  color: white;
  font-size: 12px;
}

/*
 * --------------------------------------------------------------------------------
 * Part 2: Common Components for Both Children Components
 * --------------------------------------------------------------------------------
 */

.TaskEditorHeader {
  font-size: 1em;
}

.TaskEditorFlexibleContainer {
  position: relative;
  display: flex;
  margin: 16px 8px;
  align-content: center;
  align-items: center;
}

.TaskEditorFlexiblePadding {
  flex: 1 1 auto;
}

input.TaskEditorFlexibleInput {
  flex: 1 1 auto;
  margin-left: 0.5em !important;
  padding: 0.5em 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  line-height: 1em !important;
  border: none !important;
  color: white !important;
  border-bottom: 1px solid transparent !important;
}

input.TaskEditorFlexibleInput:focus-within {
  border-bottom-color: white !important;
}

input.TaskEditorFlexibleInput::placeholder,
input.TaskEditorFlexibleInput:focus-within::placeholder {
  color: white !important;
}

.TaskEditorCheckBox {
  margin-left: 8px;
  margin-right: 0;
}


.TaskEditorSubtaskCheckBox label{
  min-width:16px !important;
}

.TaskEditorIcon {
  width: 16px;
  height: 16px;
  flex: none;
  cursor: pointer;
}

.TaskEditorIconLeftPad {
  margin-left: 4px;
}

/*
 * --------------------------------------------------------------------------------
 * Part 3: Components for Main Task Editor
 * --------------------------------------------------------------------------------
 */

.TaskEditorIconButton {
  cursor: pointer;
  margin-left: 1em !important;
  height: unset !important;
}

.TaskEditorTag {
  margin-left: 0.5em;
  font-size: 1em;
  padding: 5px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  border-color: transparent;
}

.TaskEditorTagEditor {
  position: absolute;
  right: 0;
  left: 8px;
  top: 4px;
  z-index: 4;
  color: #333333;
  background: white;
}

.TaskEditorCalendar {
  position: absolute;
  right: -8px;
  top: 36px;
  z-index: 4;
}

.TaskEditorCalendar div>abbr{
  color: black;
}

/*
 * --------------------------------------------------------------------------------
 * Part 4: Components for Sub-Task Editor
 * --------------------------------------------------------------------------------
 */

.TaskEditorSubTasksIndentedContainer {
  margin-left: 2em;
}

.SubtaskHide{
  max-height:50px;
  transition: max-height 0.2s ease-in-out;
  overflow:hidden;
  margin:-15px 0 20px 0;padding:0;
}