.BacklogDayFourDaysView {
  position: relative;
  margin: 0.5em;
  background-color: #F7F7F7;
  height: 400px;
}

.BacklogDayOtherView {
  position: relative;
  margin: -1px 0 0 -1px;
  background-color: white;
  border: 1px solid #CCC;
  height: 15vw;
}

.BacklogToday {
  background-color: white;
  box-shadow: 0 5px 12px 0 rgba(164, 164, 164, 0.5);
}

.BacklogDayDateInfo {
  margin: 1em;
  color: #3d3d3d;
  opacity: 0.57;
}

.BacklogDayDateInfoDay {
  font-weight: normal;
}

.BacklogDayDateInfoDateNumFourDaysView {
  font-weight: bold;
}

.BacklogDayDateInfoDateNumOtherViews {
  font-weight: bold;
  font-size: 16px;
  color: #4A90E2;
}

.BacklogDayTaskContainer {
  height: calc(100% - 84px);
  overflow: hidden;
}

.BacklogDayMoreTasksBar {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  opacity: 0.5;
  color: #E7E7E7;
  text-align: center;
  font-size: 1em;
}
