.BacklogTask {
  color: white;
  margin: 0.5em 0;
  padding: 0.5em;
  font-weight: 500;
}

.BacklogTaskMainWrapper {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: 300;
}

.BacklogSubTask {
  display: flex;
  color: white;
  margin: 0.5em 0 0.5em 1em;
  padding: 0.5em;
  font-weight: 500;
}

.BacklogTaskText {
  flex: 1 1 auto;
  font-size: 16px;
  font-weight: normal;
}

.BacklogTaskCheckBox {
  margin-right: 0.5em;
}
