.BacklogDay {
  margin: 0.5em;
  background-color: #F9F9F9;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .1), 0 2px 2px 0 rgba(0, 0, 0, .1), 0 1px 5px 0 rgba(0, 0, 0, .11);
  height: 250px;
  overflow: hidden; /* TODO fix this hack */
}

.BacklogDayDateInfo {
  margin: 0.5em;
  color: #666666;
}

.BacklogDayDateInfoDay {
  font-weight: 100;
}

.BacklogDayDateInfoDateNum {
  font-weight: 500;
}
