.BacklogViewSwitcher {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 98px;
  height: 34px;
  color: #5A5A5A;
  border-radius: 2px;
  border: solid 1px #5A5A5A;
}

.BacklogViewSwitcherButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: solid 1px #5A5A5A;
}

.BacklogViewSwitcherButtonText {
  font-size: 12px;
  margin: 0 auto !important;
}

.BacklogViewSwitcherSingleButton {
  margin-left: 1em;
  margin-right: 1em;
  width: 34px;
  height: 34px;
  border-radius: 2px;
}

.BacklogViewSwitcherTextButton {
  margin-left: 1em;
  margin-right: 1em;
  width: auto;
  height: 34px;
  padding: 0.5em 0;
  border-radius: 2px;
}

.BacklogViewSwitcherTextButton span {
  margin: 0 1em !important;
}

.BacklogViewSwitcherActiveButton {
  color: white;
  background-color: #5A5A5A;
}
