@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|DM+Serif+Display&display=swap');

.Login {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  color: black;
  background-color: white;
  text-align: center;
  margin:0; padding:0;

  background: linear-gradient(282deg, #289DE9, white);
  overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}

.LoginSection {
  max-width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  vertical-align: top;
}

.LoginSection h1 {
  font-size: 400%;
  font-weight: bold;
  margin: 0;
  height: 40px;
}

.LoginSection p{
  margin: 10px 0;
}

.LoginSection div {
  display: block;
  text-align: center;
}

.LoginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  vertical-align: top;
}

.LoginWrapper img {
  max-width: 130%;
  transform: translateX(7vw);
}

.LoginFooter {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  font-size: 14px;

  text-align: center;
}

.LoginFooter img {
  max-width: 150px;
  margin: 10px;

  padding: 10px;
  background: black;
  border-radius: 5px;
}

@media(max-width: 700px) {
  .LoginWrapper {
    display :none;
  }
  .LoginSection {
    max-width: 100%;
  }
}

.Landing {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x:hidden;
  overflow-y:auto;
  color: black;
  margin:0; padding:0;

  background: white;
	font-family: 'DM Sans', sans-serif;
}

.Landing header{
  text-align:left;
  padding: 35px 45px;
}

.Landing header>div{
  float:right;
  transform:translateY(-12px);
}

.LandingHeroWrap{
  position:relative;
}

.LandingHeroWrap h1{
  font-family: 'DM Serif Display', serif;
  font-size:70px;
  line-height:100px;
  font-weight:normal;
  text-align:center;
  width:60%;
  padding-top:100px;
  margin-top:0;
}

.LandingHeroWrap>img {
  position:absolute;
  right:15vh;
  top:0;
  max-width:50%;
  max-height:80vh;
  z-index:-1;
}

.LandingHeroLogin{
  max-width:60%;
  text-align:center;
}

.LandingHeroLogin img{
  max-width:25%;
}

.LandingBlue{
  position:absolute;
  top:-10vw;
  z-index:-1;
}

.LandingLower{
  margin:300px 0 0 0;
  background:#7fbdff;
  min-height:1000px;
  position:relative;
}

.LandingScreenshot{
  width:60%;
  display:block;
  margin: 0 auto;
  position:absolute;
  left:20vw;
  top:-20vw;
}

.LandingLower>h2{
  font-size:24px;
  max-width:40%;
  padding-top:25vw;
  line-height:30px;
  margin:0 auto;
  text-align:center;
}

.LandingLower>h2>span{
  color:white;
}

.LandingMidImg{
  position:absolute;
  left:40px;
  z-index:0;
}

/*.LandingLower section{
  z-index:1;
  background:white;
  position:relative;
  display:inline-block;
  width:20vw;
  height:30vw;
  vertical-align:top;

  margin-left:10px;

  border-radius:5px;
  font-weight:500;

  text-align:center;
}

.LandingLower section>img {
  width:20vw;
  height:20vw;
  object-position:center;
  object-fit:contain;
}

.LandingLower section>h2>span{
  color:#7fbdff;
}*/

.LandingFeatures{
  display:inline-block;
  margin-left:10vw;
  width:20vw;
  position:relative;
  z-index:1;
  margin-top:300px;
}

.LandingFeatures:nth-child(2){
  transform:scale(1.1);
}

.LandingLastLogin {
  text-align:center;
}

.LandingLower footer{
  text-align:center;
  color:white;
  padding-bottom:30px;
}

.LandingLower footer p{
  margin:0;
}

.LandingLower footer p:last-child{
  font-size:10px;
}

.LandingLower footer a{
  color:white;
  text-decoration:none;
}

.LandingLower footer img{
  max-height:10px;
}
