.SettingsSection {
  margin-top: 10px;
}

p.SettingsSectionTitle {
  vertical-align: top;
  font-size: 16px;
  padding-top: 20px;
}

.SettingsSectionContent {
  vertical-align: top;
}

@media only screen and (min-width: 768px) {
  p.SettingsSectionTitle {
    width: 200px;
    display: inline-block;
  }

  .SettingsSectionContent {
    display: inline-block;
    width: calc(100% - 200px);
  }
}

.SettingsButton {
  padding-top: 15px;
}

.SettingsButton button {
  color: white;
  border: 1px white solid;
  border-radius: 5px;
  padding: 5px 10px;
  line-height: 14px;
  margin-top: 5px;
}

.SettingsButton button:hover,
.SettingsButton button:focus {
  border: 2px white solid;
}

.FinalRowButtonContainer {
  position: relative;
  display: flex;
}

.Padding {
  flex: 1 1 auto;
}

.FinalRowButton {
  border: none !important;
  border-radius: 20px !important;
  font-size: 16px !important;
  padding: 10px 20px !important;
}

.SignButton {
  background: #e93838 !important;
}

.SignButton:hover,
.SignButton:focus {
  background: #e93838db !important;
}

.FeedbackButton {
  text-decoration: underline #83c1ff;
  color: #83c1ff;
  margin-left: 1em;
  position: absolute;
  top: 67px;
  right: 16px;
}

.FeedbackButton:hover,
.FeedbackButton:focus {
  color: #6bb5ff;
}

.ReplayTutorialButton {
  color: #333 !important;
  background: white !important;
}

.ReplayTutorialButton:hover,
.ReplayTutorialButton:focus {
  background: #ece9e9 !important;
}

.ColorConfigItemList {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
