.CloseButton {
  position: absolute;
  top: 40px;
  right: 40px;
  color: white;
  font-size: 30px;
}

.ChangesSaved {
  position: absolute;
  top: 40px;
  right: 100px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.SettingsModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #7b7b7b;
  color: white;
  overflow-y: auto;
}

.SettingsButton {
  width: 17.5px;
  height: 17.5px;
}

.ContentWrap {
  padding: 60px 50px;
}
