.SettingsButtonContainer {
  display: inline-block;

  & button {
    background: none;
    cursor: pointer;
  }
}

.CloseButton {
  position: absolute;
  top: 32px;
  right: 32px;
  color: white;
  font-size: 30px;
  border: none;
}

.CloseButton:hover > *,
.CloseButton:focus > * {
  opacity: 0.65;
  stroke-width: 2px;
}

.ChangesSaved {
  position: absolute;
  top: 40px;
  right: 100px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.SettingsModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #7b7b7b;
  color: white;
  overflow-y: auto;
}

button.SettingsButton {
  border: none;
}

.ContentWrap {
  padding: 32px;
}

.SettingsButton:hover path {
  stroke-width: 4px;
}
