.FloatingTaskEditor {
  width: 300px;
  z-index: 7;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.3);
}

.FloatingTaskEditorBackgroundBlocker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.15);
}
