.TagColorConfigItemAdder {
  text-align: left;
}

.SearchClasses {
  width: 100%;
  border-radius: 12px;
  border: 2px #979797 solid;
  position: relative;
  margin-top: 15px;
  overflow: hidden !important;
}

input.SearchInput {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 14px;
  height: 40px;
  padding: 10px 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(202, 202, 202, 0.59);
  border-image: initial;
  border-radius: 5px;
}

input.SearchInput:focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

button.DropdownItem {
  display: block;
  width: 100%;
  font-size: 14px;
  text-align: left;
  transition: background 0.1s ease-in-out;
  color: white;
  background: #aaa !important;
  line-height: 20px !important;
  height: 40px;
  padding: 10px 20px;
}

button.DropdownItem:hover,
button.DropdownItem:focus {
  background: #bbb !important;
}
