.Main {
  margin: 0;
  padding: 32px 32px 16px 32px;
}

.Time {
  font-weight: 600;
  font-size: 32px;
  display: inline-block;
  border-right: 1px black solid;
  padding-right: 10px;
  margin-right: 10px;
  height: 32px;
  line-height: 32px;
  vertical-align: top;
}

.Date {
  line-height: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: top;
}

.Links {
  float: right;
}

.Links button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 32px;
}
