.ChoiceModal {
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 150px);
  width: 300px;
  z-index: 9;
  background-color: white;
  padding: 1em;
  border-radius: 3px;
  z-index: 9;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

@media only screen and (min-width: 600px) {
  .ChoiceModal {
    left: calc(50% - 200px);
    width: 400px;
  }
}

.TextContainer {
  margin-top: 1em;
}

.ButtonContainer {
  display: flex;
  margin-top: 1em;
}

.Filler {
  flex: 1 1 auto;
}

.ChoiceButton {
  color: #2196f3;
  padding: 8px;
  margin-left: 8px;
  min-width: 64px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
}

.ChoiceButton:hover,
.ChoiceButton:active {
  background-color: rgba(33, 150, 243, 0.08);
}
