.Login {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: #7fbdff;
  text-align: center;
}

.LoginWrapper {
  margin: auto;
}

.LoginPadding {
  height: 100px;
}

.LoginText {
  color: white;
  font-size: 5em;
}
