.PopupTaskEditorFlexibleContainer {
  position: relative;
  display: flex;
  margin: 0.5em;
  align-content: center;
  align-items: center;
}

.PopupTaskEditorFlexibleInput {
  flex: 1 1 auto;
}

.PopupTaskEditorIconButton {
  margin-left: 0.5em;
}

.PopupTaskEditorTag {
  margin-left: 0.5em;
  color: white;
}

.PopupTaskEditorTagLabel {
  padding: 0.5em;
}

.PopupTaskEditorTag input[type="checkbox"] {
  position: absolute;
  left: -2px;
  width: 22px;
  height: 22px;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}

.PopupTaskEditorTagEditor {
  position: absolute;
  right: 0;
  left: calc(100% - 400px);
  top: 50px;
  z-index: 4;
  background: white;
  border: 1px solid #333;
}

.PopupTaskEditorCalendar {
  position: absolute;
  right: 0;
  left: calc(100% - 350px);
  top: 50px;
  z-index: 4;
}
